*{
    padding: 0;
    margin: 0;
}
body {
    background-color: rgba(23, 22, 22, 0.886);
}

.top-bar{
    height: 20px;
    text-align: right;
    background-color: rgba(30, 29, 29, 0.886);
    color: rgb(187, 182, 182);
    font-size: 14px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: Courier, monospace;
}

.enter_app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 40px);
}

.meeting_rules{
    width: 60%;
    margin: auto;
    text-align: center;
}

.enter_app button {
    padding: 10px 20px;
    font-size: 18px;
    margin: 15px;
    border-radius: 5px;
}

.enter_app #get_token{
    background-color: rgb(127, 255, 212);
}

.meeting_rules{
    color: rgb(187, 182, 182);
    font-size: 25px;
}

.btn_options{
    display: flex;
    justify-content: center;
    margin-top: 20px;
    align-items: center;
}

.hidden_com {
    display: none;
}

.main_app{
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100vw;
    height: calc(100vh - 40px);
}

.chat_app{
    height: 90vh;
    width: 30%;
    max-width: 600px;
    border-radius: 5px;
    background-color: rgba(57, 55, 55, 0.886);
    overflow: hidden;
}

.chat_body{
    height: calc(100% - 100px);
    overflow: auto;
    margin: 0px 20px;
}

.chat_footer{
    height: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: rgba(16, 14, 14, 0.886);
}

.chat_header{
    height: 50px;
    display: flex;  
    align-items: center;
    justify-content: space-between;
    background-color: rgba(16, 14, 14, 0.886);
    padding: 0px 5px;
}

.chat_header .call_options {
    margin-right: 5px;
}

.chat_header .call_options button{
    background-color: transparent;
    border: none;
    outline: none;
    width: 30px;
    height: 30px;
}

.chat_header .call_options svg{
    fill: white;
}

.chat_app input{
    width: 85%;
    height: 80%;
    color: white;
    background-color: transparent;
    border: none;
    outline: none;
    border-bottom: 1px solid white;
    font-size: 15px;
}

.chat_app button{
    width: 50px;
    height: 30px;
}

.message{
    width: 100%;
    margin: 5px 0px 5px 0px;
    display: flex;
    justify-content: space-between;
}

.right-message{
    padding: 5px 7px;
    background-color: white;
    max-width: 80%;
    border-radius: 10px 0 10px 10px;
}

.left-message{
    padding: 5px 7px;
    background-color: rgb(134, 171, 240);
    max-width: 80%;
    border-radius: 0px 10px 10px 10px;
}

.video_app{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 70%;
    height: 90vh;
}

.video_call{
    position: relative;
    width: 100%;
    height: 90%;
    object-fit: cover;
}

.local-video video{
    background-color: rgb(13, 12, 12);
    width: 300px;
    position: absolute;
    bottom: 0px;
    right: 0px;
    z-index: -2;
}

.remote-video{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.remote-video video{
    background-color: rgb(13, 12, 12);
    width: 100%;
    z-index: -5;
}

#end_call{
    background-color: red;
    padding: 7px 10px;
    border-radius: 50%;
    z-index: 200;
}

#end_call svg{
    fill: white;
}
